terminal-page {
    .scroll-content{
        justify-content: center;
        align-content: center;
        display: flex;
    }
    .large-input {
        display: flex;
        flex-direction: column;
        input {
            flex:0;
            font-size: 200px;
            padding:0;
            line-height: 1;
            text-align: center !important;
            color:#222;
            margin:auto;
        }
    }
}