sample-page {
    h1 {
        text-align: left;
        text-transform: uppercase;
        padding:.6em;
        margin:0;
        line-height: 1;
        font-size: 16px;
        background-color:#efefef;
        position: relative;
        color:#222;

        small {
            position: absolute;
            right:1em;
            top:50%;
            transform: translateY(-50%);
            font-weight:bold;
        }
    }

    ion-footer p {
        text-align:center;
        padding:10px 80px;
        font-weight:500;
        color:#222;
    }
}
