<ion-header>
    <ion-toolbar>
        <ion-title>INGENICO SAMPLE APPLICATION</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <section *ngIf="ingenicoConfig.username === ''" class="instructions">
        <div>
            <p>It appears you do not have your credentials set properly.</p>
            <ol>
                <li>Create the following file JavaScript file<br /><code>src/assets/javascript/config/environment.js</code></li>
                <li>Enter your Ingenico API Credentials as displayed below and rebuild the application.</li>
            </ol>
        <pre>appSettings.ingenico.username  = "my-username";
appSettings.ingenico.password  = "my-password";
appSettings.ingenico.apiKey    = "my-api-key";</pre>
        </div>
    </section>
    <section *ngIf="ingenicoConfig.username !== ''" class="demos">
        <div>
            <h2>Automatic Connection</h2>
            <p>
                This demo uses the automatic connection feature. Once you hit connect the
                plugin will search for an available device and connect.
                <br />
                <strong>Features</strong><br />
                Credit Card Transaction &bull; Debit Card Transaction
            </p>
            <button ion-button block (click)="automatic()">OPEN DEMO</button>
        </div>

        <div>
            <h2>Manual Connection</h2>
            <p>
                This demo uses the device search feature which will allow you to select an
                available device to connect to.
                <br />
                <strong>Features</strong><br />
                Cash Transaction &bull; Credit Card Transaction &bull; Debit Card Transaction
            </p>
            <button ion-button block (click)="manual()">OPEN DEMO</button>
        </div>

        <div>
            <h2>Simple Terminal</h2>
            <p>
                This demo uses the automatic connection feature and the interface is
                a simple terminal like the Cash App.
                <br />
                <strong>Features</strong><br />
                Credit Card Transaction &bull; Debit Card Transaction
            </p>
            <button ion-button block (click)="terminal()">OPEN DEMO</button>
        </div>

        <div>
            <h2>Tests</h2>
            <p>
                This is a simple test page with buttons for various actions
            </p>
            <button ion-button block (click)="test()">OPEN DEMO</button>
        </div>
    </section>
</ion-content>

<ion-footer *ngIf="ingenicoConfig.username !== ''">
    <ion-toolbar>
        <p>Make sure to connect to your device from your Mac using Safari's Web Developer Tools to view all the console messages.</p>
    </ion-toolbar>
</ion-footer>
