home-page {

	section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		height: calc(100vh - 186px);

		h2 {
			text-align: center;
			padding:0 0 10px;
			border-bottom: 1px solid #ddd;
			font-size:1.25em;
			text-transform:uppercase;
		}

		div {
			background-color:#eee;
			padding:20px;
			width:calc(33.33% - 10px);
			flex-direction: column;
			display: flex;

			button {
				margin-top: auto !important;
			}
		}
	}

	ion-footer p {
		text-align:center;
		padding:10px 80px;
		font-weight: bold;
	}

	@media (orientation:portrait) {
		section {
			flex-direction: column;

			div {
				width:100%;
				height: 100%;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}