charge-form-page {
    h1 {
        text-transform: capitalize;
        border-bottom: .55px solid #ddd;
        line-height: 1;
        background-color: #efefef;
        margin: 0;
        padding: .6em;
        text-align: center;
        font-weight: 600;

    }

    p {
        padding: 0 20px;
        line-height:1.42;
        color:#777;

        code {
            font-family: Menlo, monospace;
            color:indigo;
            font-size: .9em;
            font-weight: bold;
        }
    }

    ion-grid {
        padding:5px 10px !important;
    }

    .with-button {
        margin:0 0 0 15px;
    }
}
