manual-page {
    #welcome {
        height:calc(100vh - 40px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroll-content {
        padding: 20px;
    }
}

