test-page {
    h1 {
        text-align: left;
        text-transform: uppercase;
        padding:.6em;
        margin:0;
        line-height: 1;
        font-size: 16px;
        background-color:#efefef;
        position: relative;

        small {
            position: absolute;
            right:1em;
            top:50%;
            transform: translateY(-50%);
            font-weight:bold;
        }
    }
}
